@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kane County Scanner</h1>
    <div class="container">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="~/lib/Images/99991.jpg" class="img-thumbnail" alt="Scanned img 1" style="padding:16px;width:50%;border-color:red;border-width:5px">
                    </div>
                    <div class="col">
                        <img src="~/lib/Images/99992.jpg" class="img-thumbnail" alt="Scanned img 2" style="padding:16px;width:50%;border-color:green;border-width:5px">
                    </div>
                    <div class="col">
                        <img src="~/lib/Images/99994.jpg" class="img-thumbnail" alt="Scanned img 3" style="padding:16px;width:50%;border-color:red;border-width:5px">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Controllers.HomeController.viewEmployees</p>
                    </div>
                    <div class="col">
                        <p>Data reader 2.</p>
                    </div>
                    <div class="col">
                        <p>Data reader 3.</p>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" id="IDCardNumber" style="width:76px;align-content:center;margin:auto">
            <button type="submit" class="btn btn-default" style="margin:auto">Submit</button>
        </form>
    </div>
</div>
